:root{
    --main-bg-color: #02020e;
}
*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*
Page
*/
body{
    background: var(--main-bg-color);
    color: white;
    font-family: 'Heebo',Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
}
/*
    Header
*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4%;
    padding: 0 9.4%;
    width: 100vw;
    top: -1%;
}
#logo_png{
    width: 15vw;
    filter: invert(100%);
    position: relative;
    left: -23%;
}
#menu-icon{
    filter: invert(100%);
    width: 60%;
    margin-left: 40%;
}
/*
    NAV
*/
.dropbtn {
    color: white;
    padding: 10% 25%;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropbtn:focus, .dropbtn{
    background-color: var(--main-bg-color);
    outline: none;
}
.dropbtn:hover{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    box-shadow: 0px 8px 16px 0px rgba(255,255,255,0.2);

}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown a{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding-top: 15%;
    width: 100%;
    height: 3rem;
}   
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--main-bg-color);
    min-width: 20%;
    box-shadow: 0px 8px 16px 0px rgba(255,255,255,0.2);
    z-index: 1;
    padding: 2%;
    width: 100%;
    text-align: center;
}
.dropdown-content li {
    color: white;
    text-decoration: none;
    display: block;
}
.dropdown-content li:hover{
    background-color: rgba(255,255,255,0.2);
    cursor: pointer;
}
.show{
    display:block;
}
/*
    illuminu SVG
*/
#text-intro{
    margin-top: 20%;
}
#layer-svg{
    position: relative;
}
.illuminu-logo{
    width: 80vw;
    -webkit-filter: drop-shadow(0px 0px 3px white);
            filter: drop-shadow(0px 0px 3px white);
    margin: 0 auto; 
    margin-top: 20%;
    margin-bottom: 13%;
}
.illuminu-logo path{
    stroke: white;
    stroke-width: 1;
    fill: white;
    stroke-dasharray: 700;
    stroke-dashoffset: 700;
    animation: dash 4s cubic-bezier(0.39, 0.575, 0.565, 1) forwards 2;
}
@-webkit-keyframes dash {
    from{
        fill: transparent;
        stroke-width: 1;
    }
    to {
        stroke-dashoffset: 0;
        fill: white;
        stroke-width: 2;
    }
}
/*
    Main view
*/
#bg-header{
    margin-bottom: 60%;
}
#main-view{
    text-align: center;
}
h1{
    font-size: 1.7rem;
}
#main-view p{
    color: red;
    width: 70%;
    margin: 0 auto; 
}
/*
    GO Down Arrow
*/
#arrow-container{
    position: absolute;
    left: 45.5%;
    width: 7vw;
    margin: 0 auto;
    margin-top: 25%;
    -webkit-filter: drop-shadow(0px 0px 3px white);
    filter: drop-shadow(0px 0px 3px white);
    animation: goDown 2s cubic-bezier(0.39, 0.575, 0.565, 1) 4s forwards 3;
}
@-webkit-keyframes goDown{
    from{
        margin-top: 25%;
    }
    to{
        margin-top: 35%;
    }
}
/*
    Sliders page
*/
#sliders-page{
    display: block;
    margin-bottom: 20%;
}
/*
    IMAGES SLIDER
*/
.slider {
    width: 80vw;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
}
.slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
.slides::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
}
.slides::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
    background: transparent;
}
.slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 80vw;
    height: 55vh;
    margin-right: 5%;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
}
.slides img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} 
#scroll-text{
    font-size: 1.4rem;
}
/*
    text-carousel
*/
.slider-text {
    width: 100vw;
    text-align: center;
    overflow: hidden;
}
.slider-text p{
    color: red;
}
.slides-text {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
.slides-text::-webkit-scrollbar {
    height: 10px;
}
.slides-text::-webkit-scrollbar-thumb {
    background: transparent;
}
.slides-text > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100vw;
    padding: 10%;
    height: 11rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10%;
}
.slider-text > a {
    display: inline-flex;
    width: 2.5rem;
    height: 2.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 10%;
    position: relative;
    margin-bottom: 10%;
    box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.7);
}

.slider-text > a:focus, .slider-text > a:hover {
    background: #000;
    color:white
}
/*
    experiences
*/
#experiences{
    text-align: center;
}
#experiences article{
    margin: 5% 0;
}
.fb-video{
    width: 80vw;
    overflow: hidden;
    border:none;
    margin: 3% auto;
}
.logo-projects{
    width: 10%;
    height: auto;
}
/*TEAM*/
#contact{
    text-align: center;
}
.bio-contact{
    width: 40vw;
    height: 20vh;
    margin: 5% auto;
    clip-path: circle();
}
.perfil{
    padding: 3% 0;
}
#ainer, #pike, #daniel, #marcos{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
#ainer{
    background-image: url(./fotos/ainer-album/ainer_twfxpx_c_scale\,w_1400.jpg);
}
#pike{
    background-image: url(./fotos/pike.jpg);
}
#daniel{
    background-image: url(./fotos/daniel-album/daniel_vgfyte_c_scale\,w_1400.jpg);
}
#marcos{
    background-image: url(./fotos/marcos-album/marcos_kkas0c_c_scale\,w_1400.jpg);
}
.network-logo{
    width: auto;
    height: 1.9rem;
}
.network-logo:hover,footer a:hover{
    box-shadow: 0px 0px 20px 0px rgba(255,0,0,1);
    cursor: pointer;
    fill: red !important;
}
.media{
    display: flex;
    align-content: center;
    justify-content: space-around;
    width: 50vw;
    margin: 4% auto;
    height: 2vh;
}
/*
    FOOTER
*/
footer{
    margin-top: 10%;
    text-align: center;
    line-height: 2;
    padding: 5% 5%;
    letter-spacing: 1.8;
    background-color: hsl(247, 22%, 16%);
}
footer a{
    margin: 3%;
}

