
*{
    margin: 0;
    padding: 0;
}
.bg{
    background: linear-gradient(to right, #211A1D, #E3170A, #D1CCDC);
    height: 100vh;
    width:115vh;
}

.main{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.button{
    height: 50px;
    width: 50px;
    margin: 2px;
    font-size: 25px;
    cursor: pointer;
    border: none;
    background: #424C55;
    color: #D1CCDC;
    box-shadow: black 5px 5px 5px;
}

.textview{
    width: 217px;
    font-size: 25px;
    margin: 4px;
    border: none;
    color: #424C55;
}
